
#chat-text-input{
  padding: 0px;
  margin: 0px;
  height: 90%;
  width: 90%;
}

.chat-messages-box{
  width: 100%;
  height: 100%;
  /* background-color: red; */
  text-align: left;
  overflow: scroll;
}

.chat-messages-box-list{
  list-style-type: none;
  list-style: none;
  padding-left: 0px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.chat-messages-box-list li {
  padding-left: 5px;
}

.chat-messages-box-list li:nth-child(odd){
  background-color: gray;
}

.chat-wrapper{
  display: inline-flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
  vertical-align: bottom;
  border-radius: 5px;
  border: 10px solid black;
  padding: 20px;
}

.chat-input-box{
  /* position: absolute; */
  width: 100%;
  height: 40px;
  background-color: green;
  z-index: 5;
  text-align: left;
  padding: 0px;
  /* vertical-align: top; */
  display: flex;
  flex-direction: row;
}
