
.quick-wrapper-list{
  display: inline-flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
  vertical-align: bottom;
  border-radius: 5px;
  border: 10px solid black;
  padding: 20px;
}
.quickList{
  text-align: left;
}
.quick-input-box{
  /* position: absolute; */
  width: 100%;
  height: 40px;
  background-color: white;
  z-index: 5;
  text-align: center;
  padding: 0px;
  /* vertical-align: top; */
  display: flex;
  flex-direction: row;
}
