.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Chat Component Styles */
.chat-wrapper{
  display: inline-flex;
  align-items: flex-end;
  flex-direction: column;
  width: 600px;
  height: 200px;
  /* background-color: yellow; */
  vertical-align: bottom;
  border-radius: 5px;
  border: 1px solid gray;
}

.chat-input-box{
  /* position: absolute; */
  width: 100%;
  height: 40px;
  background-color: green;
  z-index: 5;
  text-align: left;
  padding: 0px;
  /* vertical-align: top; */
  display: flex;
  flex-direction: row;
}

#chat-text-input{
  padding: 0px;
  margin: 0px;
  height: 90%;
  width: 90%;
}

.chat-messages-box{
  width: 100%;
  height: 100%;
  /* background-color: red; */
  text-align: left;
  overflow: scroll;
}

.chat-messages-box-list{
  list-style-type: none;
  list-style: none;
  padding-left: 0px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}

.chat-messages-box-list li {
  padding-left: 5px;
}

.chat-messages-box-list li:nth-child(odd){
  background-color: gray;
}
/* END of Chat Component Styles */
